<nav class="nav">
  <div class="container">
    <div class="portrait"><img src="/assets/images/yizhao.jpeg"></div>
    <div class="title">
      <span class="titlespan">{{ site.author.name }}</span><br>
      {{ site.author.job }} (Starting September, 2016)<br>
      <a href="http://www.thucsnet.org/">Ke Xu's Internet Research Group</a><br>
      <a href="http://www.cs.tsinghua.edu.cn/">Department of Computer Science and Technology</a><br>
      <a href="http://www.tsinghua.edu.cn/">Tsinghua University</a><br>
      <strong>Address</strong>: FIT Building, Tsinghua University, Haidian District, Beijing, China.<br>
      <strong>Email</strong>: <a href="mailto:zhaoyi16@mails.tsinghua.edu.cn">zhaoyi16@mails.tsinghua.edu.cn</a><br>
      <strong>Homepage</strong>: <a href="https://yizhao-tsinghua.github.io/">https://yizhao-tsinghua.github.io</a><br>
      <br>
    </div>
    <div style="clear:both;"></div>
    <div style="text-align: left">
    <ul class="navbar">
        <!--<li><a href="#supervision"><span>Supervision</span></a></li>-->
        <li><a href="#honors_and_awards"><span>Honors and Awards</span></a></li>
        <li><a href="#teaching_assistant"><span>Teaching Assistant</span></a></li>
        <li><a href="#publications"><span>Publications</span></a></li>
        <!--<li><a href="{{ '/cv/cv.pdf' | prepend: site.baseurl }}"><span>Curriculum vitæ</span></a></li>-->
    </ul>
    </div>
  </div>
</nav>
